<%= simple_form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
	<%= f.input :title %>
	<br>
	<%= f.input :subtitle %>
	<br>
	<%= f.input :body %>
  <br>
  <%= f.input :gallery_id, Gallery.all %>
	<br>
	<%= f.button :submit %>
<% end %>